NODE_ENV=development
PORT=3000
API_PREFIX=api

POSTGRES_DB=control_dashboard
POSTGRES_USER=control_admin
POSTGRES_PASSWORD=change_this_local_password
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@mendotech.lat
PGADMIN_PASSWORD=change_this_pgadmin_password
PGADMIN_PORT=5050

TZ=America/Panama
